*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  margin: 0;
}



body{
  background-color: black;
  margin: 0;
  padding: 0;
}

nav{
  box-sizing: border-box;
  background-color: #cb3434;
  width: 100%;
  height: 56px;
  padding: 15px;
}

ul{
  list-style: none;
  margin: 0 10%;
  }

li{
  display: inline-block;
}

a{
  color:  #FFFF99;
  padding: 15px;
}

.container{
  display: inline-block;
  margin: 0 14%;

}

.panda{
  position: relative;
  display: inline-block;
  width: 22%;
  height: 250px;
  margin: 20px 10px;

}
img{
  width: 100%;
  height: 100%;
  border: 5px solid gray;
  }

span{
  position: absolute;
  top:10px;
  left: 10px;
  color: white;
  }

span:hover{
  cursor: pointer;
}

.botons{
  width: 70%;
  padding: 0 0;
  margin: 3% auto;

}

.menu{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 33%;
  box-sizing: border-box;
  background-color: #cb3434;
  padding: 2px;
}

.text-container{
  box-sizing: border-box;
  display: inline-block;
  margin: 1% 13%;
  column-count: 2;
  column-gap: 40px;
}

p{
  display: inline-block;
  text-align: justify;
  margin-bottom: 15px;
  width: 100%;
  font-size: 12px;
  color: #FFFF99;
  word-spacing: 2px;

}
